{% extends 'base_template2.html' %}
{% load static %}

{% block content %}

     <div class="container" style="margin-top: 50px">
        <div class="sample">
            <h2>Paystub Sample Templates</h2>
            <div class="ahmad">
                <p>Seeking Paystub Template Samples For Proof Of Income Purposes?</p>
            </div>
            <p class="text-justify">Our checkstub maker can generate a variety of professional and realistic paystub
                samples; thousands of
                US-based businesses use our tool to provide proof of income and payroll services to their employees and
                contractors.

                No matter which template you decide to use, you'll end up receiving printable PDF documents instantly.

                Take a look at our templates designed to answer your detailed needs. Unlike some other generators
                providing paystubs that might look fake, our checkstubs look totally real and formal.</p>
        </div>
        <div class="ahmad" style="padding-bottom:40px">
            <p .>Our Paystub Templates</p>
        </div>
    </div>
    <div class="container">
        <div class="row mx-0 px-0">
            <div class="col-md-6">
                <div class="container">
                    <img src="{% static 'img_sample/Capture.PNG' %}" alt="Avatar" class="imag" width="100%">
                    <div class="middle">
                        <button type="button" class="btn ">USE THIS TEMPLATE</button>
                    </div>
                </div>
                <div class="blue">
                    <p style="padding-left: 20px;">Short Blue Paystub</p>
                </div>
                <p class="text-justify" style="padding-left: 20px;">This template represents a short colored (blue)
                    paystub that can be printed on any standard check paper. It shows all the... <a href="">Read more</a>
                </p>
            </div>

            <div class="col-md-6">

                <div class="container">
                    <img src="{% static 'img_sample/c2.PNG' %}" alt="Avatar" class="ima" width="100%">
                    <div class="middle">
                        <button type="button" class="btn ">USE THIS TEMPLATE</button>
                    </div>
                </div>
                <div class="blue">
                    <p style="padding-left: 20px;">Short Black & White Paystub</p>
                </div>
                <p class="text-justify" style="padding-left: 20px;">This template represents a black and white paystub
                    that can be printed on any
                    standard check paper. It shows all the payment... <a href=""> Read More</a></p>

            </div>
            <div class="col-md-6">
                <div class="container">
                    <img src="{% static 'img_sample/new2.PNG' %}" alt="Avatar" class="imag" width="100%">
                    <div class="middle">
                        <button type="button" class="btn ">USE THIS TEMPLATE</button>
                    </div>
                </div>
                <div class="blue">
                    <p style="padding-left: 20px;">Long Blue Paystub</p>
                </div>
                <p class="text-justify" style="padding-left: 20px;">This template represents a long colored (blue)
                    paystub that can be printed on any standard letter paper (8.5" x 11").... <a href=""> Read More</a>
                </p>
            </div>
            <div class="col-md-6">
                <div class="container">
                    <img src="{% static 'img_sample/new3.PNG' %}" alt="Avatar" class="imag" width="100%">
                    <div class="middle">
                        <button type="button" class="btn ">USE THIS TEMPLATE</button>
                    </div>
                </div>
                <div class="blue">
                    <p style="padding-left: 20px;">Long Black & White Paystub</p>
                </div>
                <p class="text-justify" style="padding-left: 20px;">This template represents a black & white paystub
                    that can be printed on any standard letter paper (8.5" x 11").... <a href=""> Read More</a></p>
            </div>
            <div class="col-md-6">
                <div class="container">
                    <img src="{% static 'img_sample/new4.PNG' %}" alt="Avatar" class="imag" width="100%">
                    <div class="middle">
                        <button type="button" class="btn ">USE THIS TEMPLATE</button>
                    </div>
                </div>
                <div class="blue">
                    <p style="padding-left: 20px;">ADP Paystub Template - Blue</p>
                </div>
                <p class="text-justify" style="padding-left: 20px;">This template represents<a href=""></a>
                    paystub that shows all the payment details including the employee's... <a href="">Read more</a></p>
            </div>
            <div class="col-md-6">
                <div class="container">
                    <img src="{% static 'img_sample/new5.PNG' %}" alt="Avatar" class="imag" width="100%">
                    <div class="middle">
                        <button type="button" class="btn ">USE THIS TEMPLATE</button>
                    </div>
                </div>
                <div class="blue">
                    <p style="padding-left: 20px;">ADP Paystub Template - Black & White</p>
                </div>
                <p class="text-justify" style="padding-left: 20px;">This template represents an ADP-like colored (black)
                    paystub that shows all the payment details including the employee's... <a href="">Read More</a></p>
            </div>
            <div class="col-md-6">
                <div class="container">
                    <img src="{% static 'img_sample/new6.PNG' %}" alt="Avatar" class="imag" width="100%">
                    <div class="middle">
                        <button type="button" class="btn ">USE THIS TEMPLATE</button>
                    </div>
                </div>
                <div class="blue">
                    <p style="padding-left: 20px;">Rectangular Horizontal Blue & White Paystub</p>
                </div>
                <p class="text-justify" style="padding-left: 20px;">This template represents a colored (blue) paystub
                    that shows all of the payment details including the employee's... <a href="">Read more</a></p>
            </div>
            <div class="col-md-6">
                <div class="container">
                    <img src="{% static 'img_sample/new7.PNG' %}" alt="Avatar" class="imag" width="100%">
                    <div class="middle">
                        <button type="button" class="btn ">USE THIS TEMPLATE</button>
                    </div>
                </div>
                <div class="blue">
                    <p style="padding-left: 20px;">Rectangular Horizontal Black & White Paystub</p>
                </div>
                <p class="text-justify" style="padding-left: 20px;">This template represents a black paystub that shows
                    all the payment details including the employee's full address.</p>
            </div>
            <div class="col-md-6">
                <div class="container">
                    <img src="{% static 'img_sample/new8.PNG' %}" alt="Avatar" class="imag" width="100%">
                    <div class="middle">
                        <button type="button" class="btn ">USE THIS TEMPLATE</button>
                    </div>
                </div>
                <div class="blue">
                    <p style="padding-left: 20px;">Square Blue & White Paystub</p>
                </div>
                <p class="text-justify" style="padding-left: 20px;">This template represents a colored (blue) paystub
                    that shows all the payment details including the employee's full address. <a href="">Read More</a>
                </p>
            </div>
            <div class="col-md-6">
                <div class="container">
                    <img src="{% static 'img_sample/new9.PNG' %}" alt="Avatar" class="imag" width="100%">
                    <div class="middle">
                        <button type="button" class="btn ">USE THIS TEMPLATE</button>
                    </div>
                </div>
                <div class="blue">
                    <p style="padding-left: 20px;">Square Black & White Paystub</p>
                </div>
                <p class="text-justify" style="padding-left: 20px;">This template represents a black paystub that shows
                    all the payment details including the employee's full address..</p>

            </div>
            <!-- useful information -->
            <div class="u">
                <h3 style="color: blue;">
                    USEFULL INFORMATION
                </h3>
                <div class="choose">
                    <p>How Do We Choose A Pay Stub Template?</p>
                </div>
                <p>Did you know that there are a ton of pay stub template varieties to choose from? A check stub
                    template can differ in style, and platform but never in data. The data requested on a pay stub
                    document is necessary and cannot be customized to each person. It is inevitable that you must
                    produce a paycheck stub at the end of every pay period.
                    <br> <br>

                    Whether you are an individual seeking a proof of income or an employer seeking to provide your
                    employees with the required information of their pay, a pay stub template is your answer. Using a
                    paystub generator to produce paycheck stub template options for your employees is the perfect option
                    that exhibits dedication to quality, detail and professionalism. Businesses be alert of the
                    everchanging state laws that you need to include in your employee sample pay stub.
                </p>
                <div class="choose">
                    <p>What Are The Different Check Stub Template Options?</p>
                </div>
                <p> There are a variety of options when it comes to choosing a pay stub example form. Below are merely
                    some
                    of the choices you could select to suit <br> your needs.</p>
                <p class="text-justify">
                <p style="color: blue;">The basic stub</p>
                The basic paystub is merely that, simple, minimal and excellent - suitable for your every need. The
                basic pay stub example contains all the necessary information about the pay period, hours worked and net
                earnings as well as deductions.
                <br> <br>

                <p style="color: blue;"> Spreadsheet stub</p>
                <p class="text-justify">
                    Choosing to create a paystub template does not need to be costly or make a hole in your pocket. You
                    can
                    use a simple spreadsheet program and design your own proof of income paycheck stub template. In it
                    you
                    can include certain design elements to take up less space than a regular paystub sample. This works
                    quite well if you are printing your pay stub.
                </p>

                <br> <br>

                <p style="color: blue;"> The document stub</p>
                <p class="text-justify">
                    By inserting a simple table onto a word processing software, you can create your paystub outlining
                    the
                    hours worked and amounts paid. Make sure to include the essentials, the company name and contact
                    information up top. Don’t forget the invoice number and the required employee information.
                </p>

                <br> <br>

                <p style="color: blue;"> The irregular hours stub</p>
                <p class="text-justify">
                    This type of paycheck stub template is a good option for those of us who manually track their time
                    worked instead of clocking in. Using this sample pay stub allows you to show a summary of the hours
                    worked. You can include pay period dates, net pay and important personal and contact information.
                </p>
                <br> <br>

                <p style="color: blue;"> Contractor paystub</p>
                <p class="text-justify">
                    As an employer, you might need to pay various contractors for side jobs. Using this pay stub
                    template
                    you can include invoice and client details as well as insert a table displaying the services
                    performed
                    and hours worked.
                </p>
                </p>
                <div class="row mx-0 px-0">
                    <div class="col-md-6">
                        <p>
                        <p style="color: blue;">The electronic paystub</p>
                        Using an electronic pay stub template allows you to create payroll checks easily and
                        efficiently. Going digital removes the headache of designing a pay stub as there are templates
                        provided for you. All you need to do is fill in the necessary fields and verify the information.
                        You also have the option of emailing or printing out your employee pay stub template.
                        <br> <br>

                        Still unsure? Browse through our website and wide selection of pay stub example options that we
                        offer to understand more about the various types of payroll checks templates and select the one
                        right for you. Be it a colorful one or a professional minimalistic one. Just make sure you
                        comply with your state laws first and foremost

                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="img/freet.PNG" alt="">

                    </div>


                </div>
                <p style="font-size: 30px;">How Do We Design A Perfect Pay Stub Template?</p>
                <p>Now that you’ve figured out the different check stub template options, you can start designing your
                    own sample pay stub to use. What sort of information would you include? Is there bare minimum
                    information, main requirements and extra or are they all standardized? Well the answer depends on
                    your type of work but should mainly include the below information so you’re in the clear from a
                    legal standpoint.</p>
            </div>
            <p style="color: blue;"> Your company information</p>
            <p>Whether you are a business owner or an employee filling out information about the company you work for,
                be
                as detailed as possible. Making a careless mistake can lead to chaos and a lot of misunderstandings and
                even
                audits. Make sure you include the company name, information about contact details and address. Don’t
                forget
                to include license numbers if needed.</p>
            <p style="color: blue;">Employee information
            </p>
            <p>
                You need to include your employee’s required details or your details if you are the individual creating
                your own paycheck stub template. Ensure that you include the full name, address, contact information,
                employee id number as the bare minimum. This will help especially if you are purchasing a home or
                renting an apartment or condo.</p>
            <div class="row mx-0 px-0">
                <div class="col-md-6">
                    <p style="color: blue;"> Income details</p>
                    <p>Let’s talk about some of the standard information one must include from the income point of view
                        on
                        a pay stub example. Make sure you include gross and net pay, year to date as well as the date of
                        the
                        payment period. This way you are not being shady and hiding anything from the government.</p>
                </div>
                <div class="col-md-6">
                    <img src="img/com.PNG" alt="">
                </div>

            </div>
            <p style="color: blue;"> Deductions</p>
            <p> In the deductions section of a paystub template, be as descriptive and as accurate as possible. Include
                your
                federal and state deductions as well as your FICA and medicare deductions. Ensure that you include local
                taxes if your city is one that enforces such deductions</p>.
            <br>
            <p style="color: blue;">
                Sprinkle some design elements</p>
            <p>Lastly, who said that government documents need to be boring? Since you are the one producing your
                paycheck
                stub template, include all the necessary information but give it a twist. Perhaps add some subtle design
                elements such as a line on top or company brand colors. Be creative but don’t go overboard. Afterall
                this is
                a proof of income document that you may end up filing for your taxes.</p>
            <p style="font-size: 30px;">How Many Different Paycheck Stub Template Paper Types Are There?</p>
            <p>Believe it or not, there are actually various types of sample pay stub paper that you can utilize when
                designing and printing your pay stub. Let’s list some of the different paper types for paycheck stub
                templates here so you can have different options to select from.</p>
            <ul>
                <li>Software Compatible: Works well with an electronic payroll software (Try it with our paystub
                    generator today!)
                    .</li>
                <br> <br>
                <li> Business Checks: This kind of paper pairs perfectly fine with financial institutions as it is
                    printed on a specific kind of paper that meets security specifications and conditions.</li>
                <br> <br>
                <li> Standard Paper: Who said you can’t use a simple standard A4 sheet of paper to design or print your
                    pay stub template. It gets the job done and allows you plenty of room to add anything of
                    significance that you wish to add</li>
            </ul>
            <p>Too much work for one person? Using our paystub generator allows you to let go of your worries of
                creating the perfect pay stub template. All you need to do is select the pay stub example of your choice
                and fill in the necessary information asked.
                <br> <br>

                All calculations are done by our inhouse accountants so you get one less thing to worry about during the
                stressful tax season or even simply proving your income. You can even go through the other documents
                that may come in handy for you such as the W2 form or a 1099 misc form which can be useful for self
                employed individuals.
            </p>




        </div>
    </div>

{% endblock %}